/* CSS files add styling rules to your content */

/*
* General
*/

* {
  box-sizing: content-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: sans-serif, helvetica;
  font-size: 18px;
  color: rgb(122, 122, 122);
}

/*
* Headings
*/


h1, h2, h3, h4 {
  font-weight: normal; 
}

h1 {
  font-size: 34px;
  padding-bottom: 10px;

  
}

h2 {
  font-size: 26px;
  padding-bottom: 10px;
  text-align: center; 
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  padding-bottom: 10px;
  padding-top: 30px; 
  margin-left: 30px; 
  text-transform: uppercase;
}

h4 {
  font-size: 19px;
  padding-bottom: 5px;
  color: #666;
  font-weight: bold;
}



/*
*Body
*/

.section-one {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 0px auto; 
  text-align: center;
  margin: 15px;
}

.webinar-icon {
  width: 50px;
  height: 5 0px;
  padding-right: 20px; 
  padding-top: 0px;
  transition: transform 300ms ease-in-out;
}

.webinar-icon:hover{
  transform: rotate(360deg);
}

.section-two {
  padding: 30px 30px; 
  text-align: center;
  background-color: rgb(47, 57, 114);
  color: whitesmoke;
}

ul {
  list-style: none;
  text-align: left;
  margin-left: 25px; 
  margin-right: 25px
 
}

ul li:before {
  content: '✓  ';
  color: orange; 
}

.list-margin {
  margin: 20px 0;
}

.first-button {
  padding: 20px;
  background-color: orange;
  border-radius: 10px; 
  transition: opacity 300ms; 
  margin-left: 45px;
  margin-top: 10px;
  font-size: 18px;
  box-shadow: 1px 1px 3px;
  
}


@keyframes box {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
    background-color: rgb(255, 241, 46);
  }
  75% {
    transform: scale(0.8);
    background-color: rgb(255, 241, 46);
  }
  100% {
    transform: scale(1);
  }
}

.first-button.clicked {
  animation-name: box;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.second-button {
  background-color: orange;
  border-radius: 10px; 
  transition: opacity 300ms; 
  font-size: 18px;
  padding: 20px; 
  box-shadow: 1px 1px 3px;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
    background-color: rgb(255, 241, 46);
  }
  75% {
    transform: scale(0.8);
    background-color: rgb(255, 241, 46);
  }
  100% {
    transform: scale(1);
  }
}

.second-button.clicked {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}



.section-left {
  margin: auto;
  display: flex; 
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px; 
}

.section-four {
  background-color: rgb(47, 57, 114);
  display: block; 
  margin: 0 auto;
}

.webinar-schedule {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding-top: 50px;
}
.calendar {
  width: 70px;
  height: 70px;
  padding-right: 20px; 
}

.termine {
  color: white;
}

.lecturer {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 30px;
}


.tamino {
  width: 70px;
  height: 70px;
  padding-right: 20px; 
}

.webinar-coach   {
  color: white;
}

.participants {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding-bottom: 50px;
}
.viewer {
  width: 70px;
  height: 70px;
  padding-right: 20px; 
}

.max-viewer {
  color: white;
}

.section-five-one {
  display: block;
  margin: 0 auto;
}

.learnings {
  margin: 20px 0px;

}

.icon {
  width: 90px;
  height: 90px;
  padding-right: 20px; 
  display: block;
  margin: 0px auto;
  transition: transform 200ms ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.relation {
  max-width: 350px;
  text-align: center;
  display: block;
  margin: 0px auto;
  padding-top: 15px; 
}


.section-five-three {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px; 

}

.webinar-content {
  padding-top: 30px; 
  padding-bottom: 30px;
}

.section-six {
  background-image: url("https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.testimonial-text {
  color: whitesmoke;
  max-width: 500px;
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 3px rgb(58, 58, 58);
}
.testimonial-subtext {
  padding-top: 15px; 
  color: rgb(170, 170, 170);
  max-width: 500px;
  text-align: center;
  font-size: 16px;
}

.quotation {
  width: 90px;
  height: 90px;
  padding-right: 20px; 
  display: block;
  margin: 0px auto;
}


.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  margin-bottom: 40px;  
}
.about-box {
  margin: 50px 30px; 
  padding: 15px;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  box-shadow: 3px 3px 5px grey;
}


.policy {
  color: white;
  transition: opacity 200ms;
  padding: 20px; 
}

.policy:hover {
  opacity: 0.5;
}

.section-eight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px; 
  background-color:  rgb(47, 57, 114);
}

/*
* MEDIA
*/

@media (min-width:750px) {

  h2 {
    margin-top: 50px; 
  }

  .section-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

 /* .Logo {
    display:flex;
    background: rgb(79, 62, 141);
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .background-logo {
    background-color: white;
    border-radius: 50%;
  }
  */

  .section-one {
    margin: 0;
    margin-bottom: 20px;
  }
  .webinar-icon {
    margin-top: 20px;
  }
  .section-two{
    padding: 40px 70px; 
  }
  .section-three {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 50px 0px; 
  }
  .section-right {
    width: 50%;
    text-align: left;
    margin-top: 20px ;
    margin-left: 30px;      
  }

  .section-four {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 160px;
  }

  .webinar-schedule {
    margin: 0; 
    padding-top: 0px;
    padding-right: 30px;
    padding-left: 20px;
  }

  .lecturer {
    margin: 0px 0px; 
    padding: 0px 0px ;  
    padding-right: 10px;
  }

  .participants {
    padding-bottom: 0px;
  }

  .section-five-one {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-five-two {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #padding {
    padding: 0px  25px; 
  }

  .section-seven {
    display: flex; 
    align-items: center;
    justify-content: center;

    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
  }
